pubsub/src/main/app/pubsub.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd" version="EE-3.5.1">
    <apikit:config name="employee_api-config" raml="employee_api.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <apikit:mapping-exception-strategy name="employee_api-apiKitGlobalExceptionMapping" doc:name="Mapping Exception Strategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <flow name="employee_api-main" doc:name="employee_api-main">
        <http:inbound-endpoint address="http://localhost:8083/pubSub" doc:name="HTTP" exchange-pattern="request-response"/>
        <apikit:router config-ref="employee_api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="employee_api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
   <flow name="put:/employees:employee_api-config" doc:name="put:/employees:employee_api-config" tracking:enable-default-events="true">
        <message-properties-transformer doc:name="Set JMS Header Properties">
            <add-message-property key="employee_type" value="#[json:[0]/employee_type]"/>
        </message-properties-transformer>
        <logger message="#[app.name.toUpperCase()] | #[flow.name.toUpperCase()] | #[json:[0]/employee_type]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint topic="${jms.topic}" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    <flow name="subscriber-all" doc:name="subscriber-all" tracking:enable-default-events="true" >
        <jms:inbound-endpoint topic="${jms.topic}" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="#[app.name.toUpperCase()] | #[flow.name.toUpperCase()] | #[json:[0]/employee_type] | #[json:[0]/first_name] | #[json:[0]/last_name]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="subscriber-Office" doc:name="subscriber-Office" tracking:enable-default-events="true">
        <jms:inbound-endpoint topic="${jms.topic}" connector-ref="Active_MQ" doc:name="JMS" >
        	<jms:selector expression="employee_type = 'Office'"/>
       	</jms:inbound-endpoint>
        <logger message="#[app.name.toUpperCase()] | #[flow.name.toUpperCase()] | #[json:[0]/employee_type] | #[json:[0]/first_name] | #[json:[0]/last_name]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="subscriber-Remote" doc:name="subscriber-Remote" tracking:enable-default-events="true">
        <jms:inbound-endpoint topic="${jms.topic}" connector-ref="Active_MQ" doc:name="JMS" >
        	<jms:selector expression="employee_type = 'Remote'" />
        </jms:inbound-endpoint>
        <logger message="#[app.name.toUpperCase()] | #[flow.name.toUpperCase()] | #[json:[0]/employee_type] | #[json:[0]/first_name] | #[json:[0]/last_name]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
